# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Entornos virtuales
venv/
.venv/
env/
ENV/

# Variables de entorno
.env
.env.*

# Distribución / empaquetado
build/
dist/
*.egg-info/

# Pruebas y cobertura
.pytest_cache/
.coverage
htmlcov/

# Editores e IDEs
.vscode/
.idea/
*.swp

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini
